- @properties.in_groups_of(3).each do |property_group|
  .row
    - property_group.each do |property|
      - if property  
        .col
          .row.justify-content-center.band-summary
            - if property.photos.any?
              = link_to "#{image_tag(property.photos.first.url)}".html_safe, property
            - else
              = link_to "#{image_tag('property-placeholder.png')}".html_safe, property
          .row.justify-content-center
            %p Posted by #{ property.user.username }
