.row
  .col
    %hr
    %h4 Property information
    %hr
    %ul
      %li
        Address: #{ @property.address }
      %li
        Price: #{ number_to_currency(@property.price, locale: :en) }
    %hr
    %h4 Features
    %hr
    %ul
      - @property.features.each do |feature|
        %li
          #{ feature.description } hahaha
  .col
    %hr
    %h4 Owner contact info
    %hr
    %ul.pb-1
      %li
        #{ @property.user.first_name } #{ @property.user.last_name }
      %li
        #{ @property.user.username }
      %li
        #{ @property.user.email }
    - if user_signed_in?
      %hr
      %h4 Bid for this property
      %hr
      - if current_user != @property.user
        = form_for([current_user, @property, @property.bids.build]) do |f|
          = f.number_field :price_bided
          = f.number_field :user_id, hidden: true, value: current_user.id
          = f.number_field :property_id, hidden: true, value: @property.id
          = f.submit
    - else
      %hr
      %h4 Sign in or sign up in order to bid
      %hr

- if @property.bids.count > 0
  %hr
  %h4 Bids
  %hr
  - @property.bids.in_groups_of(5).each do |bid_group|
    .row
      - bid_group.each do |bid|
        - if bid && bid.user
          .col
            #{ bid.user.try(:username) } bided for #{ number_to_currency(bid.price_bided, locale: :en) }

.row 
  .col
    %hr
    %h4 Photos
    %hr
    - @property.photos.in_groups_of(3).each do |photo_group|
      .row.pb-5
        - photo_group.each do |photo|
          - if photo
            .col.band-summary
              = image_tag photo.url
